// Variables
@import 'variables';

@import 'tailwind';

@import "front";


body {
  font-family: $font-family-sans-serif;
}

.container-main {
  max-width: 100%;
  @media screen and (min-width: 640px) {
    max-width: 1140px;
  }
}

code {
  font-size: 1.063rem;
}
