// Variables
@import 'variables';

@import 'tailwind';

@import "front";


body {
  font-family: $font-family-sans-serif;
}

//.container-main {
//  width: 960px;
//  @media screen and (max-width: 740px) {
//    width: 100%;
//  }
//}
